.glass{
    background-color: white;
    min-height: 60vh!important;
    min-width: 25%!important;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(1rem);
    position: fixed;
    border-radius: 1rem;
    z-index: 12;

}

.text-input{  
    padding: 1.5rem;
    padding-left: 3.8rem;
    border-radius: 18px!important;
    font-size: 1.2rem;
}

.fas{
    font-size: 1.8rem;
    position: absolute;
    color: rgb(179, 179, 179);
}
.fa-envelope{
    top: 8rem;
    left: 5rem;
}

.fa-lock{
    top: 12rem;
    left: 5rem;
}


/* .text-input:focus{
    border-color: rgb(0, 132, 255);
} */

/* .text-input i:focus {
    color: rgb(0, 132, 255);
} */

.icon-input:target .text-input{
    border-color: red;
}
.icon-input:target .fas{
    color: red;
}
   

@media screen and (max-width: 700px){

    .glass{
        position: fixed;
        height: 100vh!important;
        width: 100%!important;
        border-radius: 0;
    }

}

.neu-effect{
    border-radius: 0.8rem;
    background: #ffffff;
    box-shadow:  7px 7px 14px #d1d1d1,
                 -7px -7px 14px #ffffff;
}

.grid-heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . .";
    height: 3.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}
.grid-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . .";
      height: 3.5rem;
      font-weight: bold;
      font-size: 1.3rem;
      margin-top: 1.5rem;
}

.animation{
    transition: all .2s ease-in-out;
}

.animation:hover{
    transform: scale(1.1);
}

.grid-navigation-desktop{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . .";
    height: 3rem;
    gap: 0px 12px;
    margin-bottom: 2rem;
}

.grid-navigation-mobile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ". . "
      ". .";
    height: 3rem;
    gap: 12px 12px;
    margin-bottom: 11rem;
}

.nav-1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.navigation{
    text-decoration: none;
    color: black;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: all .2s ease-in-out;
    padding: 2rem;
}

.navigation:hover{
    background-color: #0C5DF4;
    color: #fff;
    text-decoration: none;
}

.nav-active{
    background-color: #0C5DF4;
    color: #fff;
    text-decoration: none;
}


